.center {
  text-align: center;
}

h1 {
  font-size: 54px;
  color:#39343B;
  border-style: outset;
  background-color: #fefeef;
  width: 500px;
  text-align: center;
  font-family: Dont Click Me DEMO;

}

body {
  background-color: #eee2d3}

.container {
  position: relative;
  width: 50%;
}

 /* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
*/

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #eee2d3;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.box {
  margin: auto;
}

.choice-container {
  display: flex;
  justify-content: space-around;
}